<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="{% url 'inicio' %}">VueloReserva</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'salir' %}">Cerrar sesión</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ingreso' %}">Ingresar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
